<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head.ejs') %>
</head>
<body>
    <main>
       <header>
        <%- include('layout/header.ejs') %>
       </header>
        <h1>Credits</h1>
    </main>
</body>
</html>