<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('layout/head.ejs') %>
</head>
<body> 
    <header>
      <%- include('layout/header.ejs') %>
      </header>
      <main>
        <p><%= error %></p>
      </main>   
</body>
</html>