
  
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/icons.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
  </head>
  <body>
    <main>
      <h4>My Book Collection</h4>

    </main>
  </body>
</html>