/* main {
    text-align: center;
} */

h1 {
  text-decoration: underline;
  margin-left: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  height: 400px;
  width: 300px;
  border: 1px solid #253956;
  text-align: center;
  color: #04080F;
  margin: 30px;
  margin-left: 200px;
  overflow: scroll;
}

