h3 {
  font-size: 24px;
}

span {
  font-size: 24px;
  text-align: center;
}

main {
    text-align: center;
}

button, a {
  background-color: #507DBC;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: larger;
  border-radius: 4px;
  color: azure;
  text-decoration: none;
}

button:hover, a:hover {
  box-shadow: 0 8px 16px 0 rgba(61, 61, 61, 0.2), 0 6px 20px 0 rgba(44, 44, 44, 0.19);
}

input {
  margin: 20px;
  width: 200px;
  padding: 10px;
}




