h1 {
  text-decoration: none;
  font-weight: bolder;
  margin-left: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards, form {
  width: 250px;
  margin: auto;
}

.cards { 
  overflow: scroll;
}

button, .home {
  padding: 10px;
  margin: 7px 0px 11px 0px;
  display: inline-block;
}

.home{
  margin: 7px 0px 7px 0px;
}

